@model IEnumerable<StoreMgmt.Models.Blank_model>

@{
    ViewBag.Title = "BlankList";
    Layout = "~/Views/Shared/_AdminLayouts.cshtml";
}

<h2>Blank Data List</h2>

@Html.Raw(@TempData["InsertMessage"])
@Html.Raw(@TempData["updateMessage"])
@Html.Raw(@TempData["DeleteMessage"])



<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<link href="~/Scripts/DataTables/datatables.min.css" rel="stylesheet" />

<script src="~/Scripts/DataTables/datatables.min.js"></script>





<link href="~/Scripts/DataTables/DataTables-1.13.4/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Scripts/DataTables/DataTables-1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="~/Scripts/DataTables/Buttons-2.3.6/css/buttons.bootstrap5.css" rel="stylesheet" />





<script>

    $(document).ready(function () {
        $('#example').DataTable(
            {
                "dom": '<"dt-buttons"Bf><"clear">lirtp',
                "paging": true,
                "autoWidth": true,

            }
        );
    });

</script>



@using (Html.BeginForm())
{

    <div class="row my-3">
        <div class="col-md-6">
            @Html.ActionLink("Add Blank", "AddBlank", null, new { @class = "btn btn-success btn-lg text-bold float-left" })
        </div>

        <div class="col-md-6">
            @Html.ActionLink("<< Back", "CircleCuttingMaster", null, new { @class = "btn btn-dark btn-lg float-right" })

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                           
                            <h3 class="card-title float-right">Blank Data List </h3>
                        </div>
                        <div class="card-body">
                            <table id="example" class="table table-bordered table-hover justify-content-center text-center">
                                <thead>
                                    <tr class="bg-primary">
                                        <th>Sr.No.</th>
                                        <th>Grade</th>
                                        <th>Blank Name</th>
                                        <th>Thickness</th>
                                        <th>Size (Inch)</th>
                                        <th>Weight (Kg.)</th>
                                          <th>Remark</th>
                                          <th>Add from</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (@Model != null)
                                        {
                                            int i = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@item.Code</td>
                                                    <td>@item.BlankName</td>
                                                    <td>@item.Thickness</td>
                                                    <td>@item.Width</td>
                                                    <td>@item.Weight</td>
                                                       <td>@item.remark</td>
                                                       <td>@item.AddFrom</td>
                                                    <td>@item.Date</td>
                                                    <td><a href="@Url.Action("BlankDataEdit", new { id = item.Id })" class="btn btn-success" style="width:50px"><i class="fas fa-edit"></i></a> || <a href="@Url.Action("DeleteBlankData", new { id = item.Id })" class="btn btn-danger " style="width:50px"> <i class="fas fa-solid fa-trash"></i></a></td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="8"> Data list Empty</td>
                                            </tr>

                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        @*<div class="row mb-3">
                <div class="col-6">
                    @Html.ActionLink("<< Back", "CircleCuttingMaster", null, new { @class = "btn btn-dark btn-lg" })

                </div>

            </div>*@

        <!-- /.container-fluid -->
    </section>
}
