
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayouts.cshtml";
}

<label style="color:whitesmoke;background:yellowgreen;text-align:center;text-size-adjust:bold;"><h2>ChangePassword</h2></label>


@Html.Raw(@TempData["confpassMessage"])
@Html.Raw(@TempData["updatepswdMessage"])
@Html.Raw(@TempData["existPass"])
<div class="d-flex align-items-center justify-content-center">
    <div class="login-box ">
        
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
                @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
                {
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Current Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="newPaswd" placeholder="New Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="confPaswd" placeholder="Confirm Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Change password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
                
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>

