@model IEnumerable<StoreMgmt.Models.Department>

@{
    ViewBag.Title = "DeptList";
    Layout = "~/Views/Shared/_AdminLayouts.cshtml";
}



@Html.Raw(@TempData["InsertMessage"])
@Html.Raw(@TempData["updateMessage"])
@Html.Raw(@TempData["DeleteMessage"])

@using (Html.BeginForm())
{

    <div class="row my-3">
        <div class="col-md-6">
            @Html.ActionLink("Add Department", "AddDepartment", null, new { @class = "btn btn-success btn-lg text-bold float-left" })
        </div>

        <div class="col-md-6">
            @Html.ActionLink("<< Back", "DepartmentMaster", null, new { @class = "btn btn-dark btn-lg float-right" })

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            @using (Html.BeginForm("DeptList", "Home", FormMethod.Get))
                            {
                                <b>Search By :</b>@Html.RadioButton("SearchBy", "Department", true)<text>Department Name</text>
                                <br />
                                @Html.TextBox("search")<button type="submit"> <i class="fa fa-search" aria-hidden="true"></i></button>
                            }
                            <h2 class="card-title float-right">Department List show Bellow</h2>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover table-striped justify-content-center text-center">
                                <thead>
                                    <tr class="bg-primary">
                                        <th>Sr.No.</th>
                                        <th>Department Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        int i = 1;
                                        foreach (var item in Model)
                                        {

                                            <tr>
                                                <td>@i</td>
                                                <td>@item.DepartmentName</td>
                                                <td><a href="@Url.Action("DeptDataEdit",new { id = item.Id })" class="btn btn-success" style="width:50px"><i class="fas fa-edit"></i></a> || <a href="@Url.Action("DeleteDeptData",new { id = item.Id })" class="btn btn-danger" style="width:50px"><i class="fas fa-solid fa-trash"></i></a></td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>

            </div>



        </div>

        @*<div class="row mb-3">
            <div class="col-6">
                @Html.ActionLink("<< Back", "DepartmentMaster", null, new { @class = "btn btn-dark btn-lg text-bold" })

            </div>

        </div>*@

        <!-- /.container-fluid -->
    </section>
}
