
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayouts.cshtml";
}
@Html.Raw(@TempData["updatepswdMessage"])




<div class="container-fluid">

    <div class="row">
        @{
            foreach (var rp in Session["rplist"] as List<StoreMgmt.Models.RolePermission>)
            {
                if (rp.PermissionName == "Vendor Master")
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>@ViewBag.VederCount</h3>

                                <p>Vender</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="@Url.Action("VendorList", "Home")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }
                else if (rp.PermissionName == "Person Master")
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>@ViewBag.PersonCount</h3>

                                <p>Person</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="@Url.Action("PersonList", "Home")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }
                else if (rp.PermissionName == "Item Master")
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>@ViewBag.ItemCount</h3>

                                <p>Item</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="@Url.Action("ItemList", "Home")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }
                else if (rp.PermissionName == "Polishing Master")
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>@ViewBag.PolishingCount</h3>

                                <p>Polishing</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }




                else if (rp.PermissionName == "StockInward")
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>@ViewBag.stockInwdCount</h3>

                                <p>Stock Inward</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="@Url.Action("StockInwardList", "Home")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }
                else if (rp.PermissionName == "Issue")
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>@ViewBag.IssueCount</h3>

                                <p>Issue</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="@Url.Action("IssueList", "Home")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }
                else if (rp.PermissionName == "Items2")
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>@ViewBag.Items2Count</h3>

                                <p>Items2</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="@Url.Action("Items2List", "Home")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }
                else if (rp.PermissionName == "Raw Invert")
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>@ViewBag.CoilCount</h3>

                                <p>Coil</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="@Url.Action("CoilList", "Home")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>



                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>@ViewBag.CircleCount</h3>

                                <p>Outside Circle list</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="@Url.Action("CircleList", "Home")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>@ViewBag.BlankCount</h3>

                                <p>Outside Blank list</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="@Url.Action("BlankList", "Home")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                }

                else if (rp.PermissionName == "Create Job")
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>@ViewBag.CircleJobCount</h3>

                                <p>Circle Job</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>@ViewBag.CoilJobCount</h3>

                                <p>Coil Job</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>@ViewBag.BlankJobCount</h3>

                                <p>Blank Job</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>


                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>@ViewBag.JobCount</h3>

                                <p>Job</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="@Url.Action("CreateJob","Home")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }
                else if (rp.PermissionName == "SellingItem")
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>@ViewBag.selloutwardCount</h3>

                                <p>Sell Item Outward</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="@Url.Action("SellOutWardList", "Home")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }

            }

        }
    </div>
</div>


@*<script src="~/FrontEnd/dist/js/pages/dashboard.js"></script>*@
