@model IEnumerable<StoreMgmt.Models.RolePermission>

@{
    ViewBag.Title = "RolePermissionList";
    Layout = "~/Views/Shared/_AdminLayouts.cshtml";
}
@Html.Raw(@TempData["InsertMessage"])
@Html.Raw(@TempData["updateMessage"])




@using (Html.BeginForm("PermissionAllow", "Home"))
{


    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            <h3 class="card-title"> Role Permission list show below</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table id="example2" class="table table-bordered table-hover table-striped justify-content-center text-center">
                                <thead>
                                    <tr class="bg-primary">
                                        <th>Sr.No.</th>
                                        <th>Role Name</th>
                                        <th>Permission Allowed</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @{
                                        int i = 1;
                                        foreach (var item in Model)
                                        {


                                                                        <tr>
                                                                            <td>@i</td>
                                                                            <td>@item.RoleName</td>

                                                                            <td>  @item.PermissionName</td>
                                                                            <td><a href="@Url.Action("PermissionAllowEdit",new { id = item.Id })" class="btn btn-success" style="width:50px"><i class="fas fa-edit"></i></a> </td>

                                                                        </tr>
                                            i++;
                                        }
                                    }



                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        @*<div class="row mb-3">
                <div class="col-6">
                    @Html.ActionLink("<<Back", "CircleCuttingMaster", null, new { @class = "btn btn-dark btn-lg text-bold" })

                </div>

            </div>*@

    </section>
}