@model StoreMgmt.Models.Vendor
@using System.Data
@using System.Data.SqlClient
@{
    ViewBag.Title = "VendorDataEdit";
    Layout = "~/Views/Shared/_AdminLayouts.cshtml";
}

<center><h2>Vendor Data Edit</h2></center>

@using (Html.BeginForm("VendorDataEdit", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


<section class="content mt-3" id="PersonMaster">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">General</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputName">Vendor Name</label>
                        <input type="text" id="inputName" value="@Model.VendorName" name="VendorName" class="form-control">
                        @Html.ValidationMessageFor(model => model.VendorName, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label for="inputName">Vendor Contact</label>
                        <input type="text" id="inputName" value="@Model.VendorContact" name="VendorContact" class="form-control">
                        @Html.ValidationMessageFor(model => model.VendorContact, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Vendor Address </label>
                        @* <textarea id="inputDescription" name="VendorAddress" class="form-control" rows="4"></textarea>*@
                        @Html.EditorFor(model => model.VendorAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VendorAddress, "", new { @class = "text-danger" })


                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 mx-auto  h-100 d-flex align-items-center justify-content-center">
            <a href="@Url.Action("VendorList")" style="width:200px;" class="btn btn-secondary btn-lg">Cancel</a>
            &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;
            <input type="submit" style="width:200px" value="Update" class="btn btn-success btn-lg ">
        </div>
    </div>

</section>
}